[Unit]
Description=WitMon service

[Service]
Type=simple
ExecStart=/opt/witmon/witmon.py
WorkingDirectory=/opt/witmon/

[Install]
WantedBy=multi-user.target
